body {
    font-size: 16px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 300;
    color: #000;
}

.table-1 {
    display: none;
}

.table-2 {
    display: none;
}

.table-3 {
    display: block;
}


.container {
    width: 964px;
    margin: 36px auto 0 auto;
    padding: 0;
}

.header {
    width: 100%;
    margin-bottom: 25px;
    padding: 0;
    border: 1px solid #aaaaaa;
}

.header-text {
    display: inline-block;
    width: 620px;
    padding: 10px 25px 0 35px;
    vertical-align: top;
}

.header-text h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 1.75em;
    font-weight: 300;
    color: #043294;
}

.header-text p {
    font-size: 0.75em;
}

.header-button {
    margin-top: 40px;
    text-align: right;
}

.button-orange {
    font-size: 0.875em;
    color: #fff;
    font-weight: 300;
    padding: 7px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(217, 102, 0);
    border-radius: 7px;
    background-image: -moz-linear-gradient( 90deg, rgb(251,110,0) 0%, rgb(255,168,78) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(251,110,0) 0%, rgb(255,168,78) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(251,110,0) 0%, rgb(255,168,78) 100%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.055), inset 0 1px 1px 0 rgba(255, 255, 255, 0.294);
}

.video-window {
    margin-bottom: 45px;
}

.video-window iframe {
    border: none;
}

.info-block {
    margin-bottom: 55px;
}

.info-block .row {
    margin-bottom: 45px;
}

.info-block .ph-col-md-2 {
    float: left;
    width: 11.6%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.info-block .ph-col-md-4 {
    float: left;
    width: 38.4%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 0;
}

.info-block .ph-col-md-4 h3 {
    margin: 0 0 1.25em 0;
    font-size: 1em;
}

.info-block .ph-col-md-4 p {
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 1em;
    padding-right: 15px;
}

.info-block .ph-col-md-4 .footnote {
    font-size: 0.625em;
    margin-top: -5px;
}

.question-block {
    margin-bottom: 10px;
}

.question-block .ph-col-md-4 {
    float: left;
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.question-block .ph-col-md-8 {
    float: left;
    width: 75%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.question-block .doctor-name {
    margin-top: -20px;
    font-size: 1.375em;
    color: #043294;
}

.question-block .doctor-footer {
    font-size: 0.75em;
}

.question-mark {
    position: absolute;
}

.question-block .question {
    font-size: 1.0em;
    margin-left: 37px;
    margin-bottom: 20px;
}

.question-block .answer {
    display: none;
    font-size: 0.75em;
    margin-left: 37px;
    margin-bottom: 25px;
}

.question-block .show-answer {
    font-size: 0.675em;
    color: #043294;
    margin-left: 37px;
    cursor: pointer;
}

.question-section {
    margin-bottom: 40px;
}

.comparison-block {
    position: relative;
    width: 966px;
    border: 1px solid #959595;
    margin-bottom: 70px;
    overflow: hidden;
}

.comparison-title {
    position: absolute;
    left: 356px;
    width: 254px;
    height: 42px;
    text-align: center;
    background: url("../img/blue-plate.png") no-repeat;
}

.arrow-left, .arrow-right {
    position: absolute;
    margin-top: 65px;
    cursor: pointer;
}

.arrow-left {
    margin-left: 7px;
    z-index: 2;
}

.arrow-right {
    right: 7px;
    z-index: 2;
}

.comparison-title p {
    color: #fff;
    margin-top: 6px;
    font-size: 0.875em;
}

.comparison-table {
    width: 860px;
    margin: 70px auto 35px auto;
    font-size: 0.75em;
}

.comparison-table tr:nth-of-type(odd) {
    background-color: #edf2fd;
}

.comparison-table tr.no-bg {
    background-color: #fff;
}

.comparison-table tr {
    height: 25px;
}

.comparison-table td {
    padding: 0 10px;
    text-align: center;
}

.comparison-table .cell-left {
    text-align: left;
}

.cell-bold {
    font-weight: 700;
}

.cell-1 {
    width: 370px;
    height: 125px;
    vertical-align: top;
    padding-left: 20px;
}

.price-orange {
    font-size: 1.3em;
    color: #f56a3f;
    height: 50px;
}

.add-to-cart .button-orange {
    font-size: 14px;
    padding: 7px 12px;
}









